#navbarNav {
    justify-content: flex-end;
}

.nav-link {
    margin-left: 2px;
    text-align: start;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}


img {
    width: 10em;
    height: 13em;
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    background-color: silver;
}

.container-fluid img {
    width: 3em;
    height: 3em;
}

.container-fluid {
    height: 5em;
    background-color: rgb(85, 85, 148);
    color: white;
    text-decoration-color: white;
}

.nav-link {
    color: white;
}

.white-container  {
    background-color: white;
    padding: 5em;
    margin-top: 5em;
}
